.login-button-box {
    display: flex;
    height: 60vh;
    margin: auto;
    justify-content: space-around;
    align-items: center;
}

.login-button {
    background-color: #FEBF63;
    padding: 10px;
    width: 20vw;
    border: none;
    border-radius: 5px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    transition: background-color 0.1s;
    font-size: 1.5vw;
}

.login-button:hover {
    background-color: #feb140;
}

.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-box {
    position: relative;
    width: 30vw;
    height: 80vh;
    margin: auto;
    background-color: #ADE498;
    padding: 50px;
    border-radius: 5px;
    text-align: center;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
}