@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.text-center {
  text-align: center;
}

.quiz_container {
  margin: auto;
  position: relative;
  max-width: 325px;
  display: flex;
  flex-direction: column;
}

.info_bar {
  margin-top: 4vh;
  height: 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
}

.info_bar div {
  width: 70px;
  height: 40px;
}

.action_block {
  display: flex;
  flex-direction: column;
  height: 85vh;
  justify-content: space-between;
}

.question_block_voice {
  background-color: #FEBF63;
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  transition: 0.1s ease;
}

.question_block_voice:hover {
  background-color: #feb140;
  cursor: pointer;
}

.question_block {
  width: 40vw;
  height: 14vh;
  max-width: 160px;
  max-height: 160px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.question-text {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 4.75vw;
}

.question-card {
  width: 80%;
  margin: auto;
  height: 70%;
}

.list-group li {
  margin-bottom: 2vh;
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  font-size: 2vw;
  font-family: "Kanit", serif;
  font-weight: 400;
}

.btn:hover {
  background-color: #e6e6e6 !important;
  border-color: black !important;
  color: black !important;
}

.selected {
  background-color: #0F2133 !important;
  color: white !important;
}

.confirm_button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: 40%;
  width: 50%;

  background: #ADE498;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  z-index: 1;
  transition: 0.1s ease;

  font-size: 2vw;
  font-family: "Kanit", serif;
  font-weight: 400;
}

.confirm_button:not(:disabled):hover {
  background-color: #95dc7a;
}

.confirm_block {
  margin: auto;
  display: flex;
  justify-content: center;
  z-index: 1;
}

.reward-confirm-button {
  position: relative;
  width: 30vw;
}

.reward-popup-confirm-button {
  margin-bottom: 0;
}

.white-box {
  right: -50px;
  width: 150%;
  height: 100%;
  max-width: 425px;
  position: absolute;
  top: 0px;
  opacity: 30%;
  background-color: #ffffff;
  z-index: 1;
}

.green-bar {
  z-index: 2;

  right: -25px;
  position: absolute;
  width: 150%;
  max-width: 425px;
  top: 80vh;
  height: 20vh;
  opacity: 100%;
  background-color: #ADE498;
}

.red-bar {
  z-index: 2;
  right: -50px;
  position: absolute;
  width: 150%;
  max-width: 425px;
  top: 80vh;
  height: 21%;
  opacity: 100%;
  background-color: #FFABAB;
}

.green-con {
  width: 100vw;
  height: 100vh;
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 3;
}

.practice-result {
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  z-index: 3;
}

.green-box {
  background-color: #ADE498;
  height: fit-content;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
}

.green-text {
  margin-top: 5px;
  color: #008A0E;
  font-size: 1.3vw;
  font-family: "Kanit", serif;
  font-weight: 400;
}

.green-button {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #00D315;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  color: white;

  font-size: 1.5vw;
  font-family: "Kanit", serif;
  font-weight: 400;
}

.green-button:hover {
  background-color: #00a911;
}

.red-box {
  background-color: #FFABAB;
  height: fit-content;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: 0;
}

.red-text {
  margin-top: 5px;
  color: #FF0000;
  font-size: 1.3vw;
  font-family: "Kanit", serif;
  font-weight: 400;
}

.red-button {
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 50px;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  background: #FF0000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  border: none;
  color: white;

  font-size: 1.5vw;
  font-family: "Kanit", serif;
  font-weight: 400;
}

.red-button:hover {
  background-color: #e60000;
}

.box-inner {
  width: 25%;
}

.containers {
  width: 105%;
}

.matching-items {
  margin-top: -3vh;
}

.matching-items div {
  margin-top: 5vh;
  /* button / android / large / contained / default / no-icon / Roboto */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  /* White */
  background: #FFFFFF;
  border: 1px solid #000000;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

}

.story-main-container {
  height: 100vh;
}

.story_container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: stretch;
  align-content: space-between;
}

.story_action {
  width: 100%;
  height: 80%;
  justify-content: center;
  align-items: center;
}

.story_text {
  width: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 97%, rgba(255, 255, 255, 0) 100%);
  padding: 50px;
  height: 30%;
  z-index: 1;

  font-size: 1.5vw;
  font-family: "Kanit", serif;
  font-weight: 400;
  color: white;
  user-select: none;
}

.story-arrow {
  position: absolute;
  bottom: 0;
  right: 1vw;
  padding: 0;
  margin: 0;
  font-size: 3vw;
}

.sentence_ans {
  letter-spacing: 5px;
}

.text_hover:hover {
  cursor: pointer;
}

.question_block_sen {
  width: 50vw;
  height: 14vh;
  max-width: 300px;
  max-height: 160px;
  margin: auto;
  margin-top: 10vh;
  margin-bottom: 10vh;
}

.question-text_sen {
  width: 50vw;
  height: 4vh;
  max-width: 300px;
  max-height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image_reward {
  border: 1px solid #ddd;
  padding: 5px;
  width: 300px;
  border-radius: 0%;
}

.story-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100vh;
  border-radius: 0;
  z-index: 0;
}

.reward-box {
  height: 98vh;
  display: flex;
  justify-content: center;
  align-items: end;
}

.center-quiz-block {
  height: 90vh;
  width: 60vw;
  overflow: hidden;
  position: absolute;
  bottom: 5vh;
  right: 1vw;
  z-index: 2;
  background-color: #7FDBDA;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.center-quiz-pt1 {
  height: 10%;
  width: 100%;
  padding-top: 2vh;
  padding-left: 2vw;
}

.quiz-head-text {
  font-size: 2vw;
}

.question-contain {
  display: flex;
  width: 100%;
  height: 90%;
}

.center-quiz-pt2 {
  height: 100%;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-quiz-pt3 {
  height: 100%;
  width: 40%;
}

.quiz-confirm-block {
  position: relative;
  z-index: 0;
  height: 30%;
}

.time-box {
  width: 25%;
  height: 25%;
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.clock-frame {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fclock.png?alt=media&token=1742a9eb-810c-4137-a7e2-071feb35e9b0");
  background-size: cover;
  background-position: center;
  width: 50%;
  aspect-ratio: 321/519;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.clock-text {
  color: white;
  text-align: center;
}

.clock-text-head {
  font-size: 1.3vw;
}

.clock-text-time {
  font-size: 2.5vw;
}

.act-box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 10vw;
  transform: rotate(270deg) translate(220%);
  position: absolute;
  top: 0%;
  left: 45%;
  z-index: 1;
}

.ipad-border {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  z-index: 1;
}

.ipad-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.ipad-display {
  display: flex;
  justify-content: center;
  height: 80%;
  width: 20%;
  background-color: white;
  position: relative;
}

.ipad-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  background-color: white;
  width: 175%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  transform: translateY(-50%);
}

.ipad-inner-circle {
  height: 70%;
  width: 70%;
  border-radius: 100%;
}

.ipad-display-progression {
  background-color: #68E758;
  width: 100%;
  margin: 25%;
  position: relative;
  z-index: 2;
}

.choice-background-image-box {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  overflow: hidden;
}

.choice-background-image {
  display: block;
  border-radius: 0%;
}

.sign-bg-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.ticket-bg-image {
  position: relative;
  height: 175%;
  top: -40%;
  left: -20%;
}

.station-bg-image {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.choice-box {
  position: relative;
  z-index: 2;
  height: 100vh;
}

.sign-question {
  position: absolute;
  display: flex;
  top: 20vh;
  right: 5vw;
  width: 25vw;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fthinking_box.png?alt=media&token=c5b0f1a9-6a90-40ad-9d5d-c6c28d4ccc84");
  background-size: 100% 100%;
  padding: 20px;
}

.sign-question-arrow {
  width: 30%;
  font-size: 3vw;
}

.sign-question-text {
  font-size: 2vw;
}

.sign-box {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fsign_center.png?alt=media&token=4c7a5a9d-0f9d-4332-9173-9ce063056bea");
  background-size: cover;
  background-position: center;
  width: 100%;
  aspect-ratio: 594/870;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.sign-button {
  position: relative;
  width: 100%;
  aspect-ratio: 596/130;
  border: none;
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 26px;
  font-size: xx-large;
  z-index: 3;
}

.ticket-question {
  position: absolute;
  display: flex;
  top: 20vh;
  right: 5vw;
  width: 25vw;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fthinking_box.png?alt=media&token=c5b0f1a9-6a90-40ad-9d5d-c6c28d4ccc84");
  background-size: 100% 100%;
  padding: 20px;
}

.ticket-question-arrow {
  width: 30%;
  font-size: 3vw;
}

.ticket-question-text {
  font-size: 2vw;
}

.ticket-box {
  position: absolute;
  top: 45%;
  width: 100%;
}

.ticket-button {
  position: relative;
  width: 45%;
  aspect-ratio: 270/80;
  border: none;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fbutton%2Fbutton_normal.png?alt=media&token=8b307811-640d-4d68-abe8-2e7a5bbf938e");
  background-size: 100%;
  background-position: "center";
  margin-right: 5%;
  margin-bottom: 10%;
  font-size: xx-large;
  z-index: 3;
  color: white;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 1);
}

.ticket-button:hover {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fbutton%2Fbutton_hover.png?alt=media&token=0b4864d5-760c-40da-a9df-61fe9008031c");
}

.ticket-button:active {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fbutton%2Fbutton_click.png?alt=media&token=2955bf85-a3fd-4f1a-a658-f794b11678fe");
}

.station-question {
  position: absolute;
  display: flex;
  top: 20vh;
  right: 5vw;
  width: 25vw;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fthinking_box.png?alt=media&token=c5b0f1a9-6a90-40ad-9d5d-c6c28d4ccc84");
  background-size: 100% 100%;
  padding: 20px;
}

.station-question-arrow {
  width: 30%;
  font-size: 3vw;
}

.station-question-text {
  font-size: 2vw;
}

.station-box {
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 2;
  display: inline-flex;
}

.station-node-image {
  border-radius: 0;
  height: 80vh;
}

.station-button-group {
  padding-top: 25%;
  width: 100%;
}

.station-button {
  width: 100%;
  aspect-ratio: 383/92;
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fstation%2Fstation_normal.png?alt=media&token=6f91ec53-f983-4fef-9191-8f13890dda42");
  background-size: 100%;
  background-position: "center";
  position: relative;
  left: -15px;
  top: 0;
  border: none;
  font-size: xx-large;
  background-color: rgba(0, 0, 0, 0);
  margin-top: 7%;
  margin-bottom: 14%;
}

.station-button:hover {
  background-image: url("https://firebasestorage.googleapis.com/v0/b/japanese-word-battle.appspot.com/o/img%2Fgame_assets%2Fstation%2Fstation_hover.png?alt=media&token=d7437e7a-3c99-4114-98a0-d1d5047570e2");
}

@media only screen and (max-width: 1700px) {
  .station-button {
    left: -10px;
    margin-top: 3%;
    margin-bottom: 4%;
  }
}

@media only screen and (max-width: 2000px) and (min-width: 1700px) {
  .station-button-group {
    padding-top: 34%;
  }
}

.text-animation {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
  width: 70%;
  justify-self: center;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.gallery-image {
  height: 25vh;
  position: absolute;
  left: 0;
  offset-path: path('m 0 50 q 50-30 100-30 t 100 30 100 0 100-30 100 30');
  box-shadow: 1px 1px 3px #0008;
  transition: transform .4s ease-out, offset-path .4s cubic-bezier(.77,-1.17,.75,.84),box-shadow .3s, z-index .3s;
  z-index: 0;
}
.gallery-image:hover {
  transform: scale(2.5);
  /* on hover, the path gets a bit shorter & flattened & shifted to left/bottom a bit for nicer movement */
  offset-path: path('m 5 65 q 45-0 90-0 t 90 0 90 0 90-0 90 0');
  box-shadow: 3px 4px 10px #0006;
  /* ensures that image gets on top of stack at the start of "popping" animation
     and gets back at the end of getting back. With smaller value, 2 different transitions would be needed */
  z-index: 999;
}
.gallery {
  top: 40%;
  left: 100%;
  transform: translate(-50%, -50%);

  border-radius: 0;
  margin: auto;
  position: relative;
}
.gallery-image:nth-last-child(4):first-child {
  offset-distance: 10%;
  
}
.gallery-image:nth-last-child(3):nth-child(2) {
  offset-distance: 35%;
  margin-left: 20vh;
}
.gallery-image:nth-last-child(2):nth-child(3) {
  offset-distance: 65%;
  margin-left: 30vh;
}
.gallery-image:last-child:nth-child(4) {
  offset-distance: 90%;
  margin-left: 40vh;
}
.blur-image{
  filter: blur(30px);
  -webkit-filter: blur(30px);
}
.image-gallery-content .image-gallery-slide .image-gallery-image {
  width: 1200px;
  top: 50%;
  height: 80vh;
}
.story-image-gallery{
  position: absolute;
  margin: auto;
  padding-top: 2vh;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}